[GAMEPLAY]
game_mode = {{ cluster_mode | default("survival") }}
{% if shard_primary is defined %}
max_players = {{ cluster_max_players | default("16") }}
{% endif %}
pvp = {{ cluster_pvp | default("false") }}
pause_when_empty = {{ cluster_paused | default("true") }}

[NETWORK]
offline_cluster = false
{% if shard_primary is defined %}
cluster_password = {{ cluster_password | default("") }}
{% endif %}
{% if shard_primary is defined %}
cluster_name = {{ cluster_name | default("KampDST Kappa...") }}
{% endif %}
{% if shard_primary is defined %}
cluster_description = {{ cluster_description | default("") }}
{% endif %}
{% if shard_primary is defined %}
lan_only_cluster = false
{% endif %}
{% if shard_primary is defined %}
cluster_intention = {{ cluster_intention | default("social") }}
{% endif %}

{% if steam_group_id is defined %}
[STEAM]
steam_group_id = {{ steam_group_id }}
{% endif %}

[MISC]
max_snapshots = {{ cluster_max_snapshots | default("6") }}
console_enabled = true

[SHARD]
shard_enabled = {{ cluster_shared_enabled | default("true") }}
{% if shard_primary is defined %}
bind_ip = 0.0.0.0
{% endif %}
{% if shard_primary is not defined %}
master_ip = {{ shard_primary_ip | default("127.0.0.1") }}
{% endif %}
master_port = {{ shard_primary_port | default("10888") }}
cluster_key = {{ cluster_key }}