[NETWORK]
server_port = {{ shard_port | default("10999") }}

[SHARD]
is_master = {{ shard_primary | default("false") }}
{% if shard_primary is not defined %}
name = {{ inventory_hostname }}
{% endif %}

[ACCOUNT]
encode_user_path = true